[submodule "themes/blog-awesome"]
	path = themes/blog-awesome
	url = https://github.com/hugo-sid/hugo-blog-awesome
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod
[submodule "themes/compose"]
	path = themes/compose
	url = https://github.com/onweru/compose
[submodule "themes/tailwind"]
	path = themes/tailwind
	url = https://github.com/tomowang/hugo-theme-tailwind
